# Instagram Graph API 設定
# Meta Developer Console (https://developers.facebook.com/) で取得
INSTAGRAM_ACCESS_TOKEN=your_long_lived_access_token_here
INSTAGRAM_BUSINESS_ACCOUNT_ID=your_instagram_business_account_id_here

# オプション: トークン自動更新用
FB_APP_ID=your_facebook_app_id
FB_APP_SECRET=your_facebook_app_secret
